@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h4>Add a new book to the library catalog</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.BookName)
  @Html.TextBoxFor(model => model.BookName)

  <input type="submit" value="Add new book" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>
