@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>

<h1>Your books:</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Book book in Model)
    {
      <li>@Html.ActionLink($"{book.BookName}", "Details", new { id = book.BookId }, new {@class="linkHelper"})</li>
    }
  </ul>
}
else
{
  <h3>No books have been added yet!</h3>
}
<br>
@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add new book", "Create", null, null, new {@class="btn btn-success btn-sm"})</p>
}


<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-info btn-sm"})</p>