@{
  Layout = "_Layout";
}
@model Library.Models.Catalog

<br>
<h4>Add a new Catalog</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CatalogName)
  @Html.TextBoxFor(model => model.CatalogName)

  <input type="submit" value="Add new Catalog" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>