@{
  Layout = "_Layout";
}
@model Library.Models.Author

<br>
<h4>Add a new Author</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.AuthorName)
  @Html.TextBoxFor(model => model.AuthorName)

  <input type="submit" value="Add new Author" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>