@{
  Layout = "_Layout";
}
@model Library.Models.Patron

<h3>Checkout a book</h3>
<br>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.Id)

  @Html.Label("Select Book")
  @Html.DropDownList("BookId", null, "Please Select", htmlAttributes: new{required = "Please select a Book"})

  <input type="submit" value="Save" class="btn btn-success btn-sm" />
}
<br>